.dots {
    color: rgb(198, 140, 100);
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
    transform: translateX(-38px);
    animation: d1 0.5s infinite alternate linear;
}