.dots {
    color: #f8f8ff;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 14px 0 0 3px, 29px 0 0 1px, 44px 0 0 0;
    transform: translateX(-29px);
    animation: d1 0.5s infinite alternate linear;
}

@keyframes d1 {
    50% {
        box-shadow: 14px 0 0 1px, 29px 0 0 3px, 44px 0 0 1px;
    }
    100% {
        box-shadow: 14px 0 0 0, 29px 0 0 1px, 44px 0 0 3px;
    }
}